body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #3B3734;
  color: black;
}

label {
    display: block;
    line-height: 25px;
}

li {
list-style: none;
}

input[type=range]{
}

.container{
  width: 750px;
  margin: 0 auto;
}

.users {
	font-weight: bold;
}

.slider {
	-webkit-appearance: slider-vertical;
	width: 24px;
}

.pointer {
  position: absolute;
  background: red;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  z-index: 3;
}

.808{
  width: 1000px;
  margin: 0 auto;
}

.grid{
  width:25px;
  height:25px;
  background-color: #6496c8;
}

.tracks{
  position:relative;
}

.grid-track0{
  display:inline-block;
}

.grid-track1{
  display:inline-block;
}

.grid-track2{
  display:inline-block;
}

.grid-track3{
  display:inline-block;
}

.grid-track4{
  display:inline-block;
}

.grid-beat1{
  background-color: #F67017;
}
.grid-beat2{
  background-color: #F2A200;
}
.grid-beat3{
  background-color: #EEDF2F;
}
.grid-beat4{
  background-color: #FFFFFF;
}
.drum-pad-container{
  position:relative;
  top:50px;
}

.track-name{
  float:left;
}

.drumPad{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em;
  background-color:#346392;
  text-align: center;
  line-height: 100px;
}

#play-button{
  background-color:green;
}
