body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  color: black;
}

div {
	display: inline-block;
}

label {
    display: block;
    line-height: 25px;
}

li {
list-style: none;
}

input {
	
}

.container{
}

.users {
	font-weight: bold;
}

.slider {
	-webkit-appearance: slider-vertical;
	width: 24px;
}

.pointer {
  position: absolute;
  background: red;
  width: 8px;
  height: 8px;
  z-index: 3;
}